html, body, h1, ul, li,.wrapper, * {
   margin: 0;
   padding: 0;
}

header {
  background-image: url(./images/photo_2022-12-08_10-14-06.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  height: 100vh;
  width:100%;
}

.header__navigation {
   background: rgba(0,0,0,.7);
}

/* section examples */
.wrapper__skills{
   width: 100%;
   height: 500px;
   background-color: #55606c;
   align-items: center;
   justify-items: center;
}
.container{
   width: 380px;
   height: 270px; 
   background-color: rgb(241, 243, 244);
   margin: 150px auto;
   padding:30px;
   border-radius: 15px;
   box-shadow: 2px 20px 25px rgba(58, 55, 55, 0,2);
}

@keyframes Load {
   from {
      width: 0%;
   }
} 
@-webkit-keyframes Load {
   from{
      width: 0%;
   }
}
@-moz-keyframes Load{
   from{
      width: 0%;
   }
}
@-o-keyframes Load {
   from{
      width: 0%;
   }
}

.skills__h2{
   text-align: center;
   margin-bottom: 10px;
}

.skills__ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.skills__ul li h5{
   margin-bottom: 10px;
}

.bar{
   height: 15px;
   background-color: rgb(203, 203, 207);
   display: block;
   border: 1px solid rdba(0, 0, 0, 0.5);
   margin-bottom: 15px;
   border-radius: 15px;
   box-shadow: 0 0 10px #4684c1;
}
.bar span {
   height: 15px;
   float:left;
   background: rgba(18, 89, 160, 0.598);
   border-radius: inherit;
}
.skills__html{
   width: 80%;
   animation: html 3s;
}
.skills__css{
   width: 60%;
   animation: css 3s
}
.skills__js{
   width: 40%;
   animation: js 3s
}
.skills__sf{
   width: 10%;
   animation: sf 3s
}
@keyframes html {
   0%{
      width:0%;
   }
   100%{
      width:80%;
   }
}
@keyframes css {
   0%{
      width:0%;
   }
   100%{
      width:60%;
   }
}
@keyframes js {
   0%{
      width:0%;
   }
   100%{
      width:40%;
   }
}
@keyframes sf {
   0%{
      width:0%;
   }
   100%{
      width:10%;
   }
}